body {
	background: #333333;
}

#header {
	background-color: rgba(45, 45, 45, 0.75) !important;
}

#main {
  background-color: #333333;
}

#menu {
  background: rgba(45, 45, 45, 0.6);
}

li {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

/* banner */
.banner {
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	background-image: url("../img/banner.jpg");
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	padding: 6em 0 2em 0 ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 0 !important;
	cursor: default;
	height: 60vh;
	margin-bottom: -3.25em;
	max-height: 32em;
	min-height: 22em;
	position: relative;
	top: -3.25em;
}

	.banner:after {
		-moz-transition: opacity 2.5s ease;
		-webkit-transition: opacity 2.5s ease;
		-ms-transition: opacity 2.5s ease;
		transition: opacity 2.5s ease;
		-moz-transition-delay: 0.75s;
		-webkit-transition-delay: 0.75s;
		-ms-transition-delay: 0.75s;
		transition-delay: 0.75s;
		-moz-pointer-events: none;
		-webkit-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
		background: rgba(45, 45, 45, 0);
		content: '';
		display: block;
		height: 100%;
		left: 0;
		opacity: 0.75;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.banner h1 {
		font-size: 3.25em;
	}

	.banner > .inner {
		-moz-transition: opacity 1.5s ease, -moz-transform 0.5s ease-out, -moz-filter 0.5s ease, -webkit-filter 0.5s ease;
		-webkit-transition: opacity 1.5s ease, -webkit-transform 0.5s ease-out, -webkit-filter 0.5s ease, -webkit-filter 0.5s ease;
		-ms-transition: opacity 1.5s ease, -ms-transform 0.5s ease-out, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
		transition: opacity 1.5s ease, transform 0.5s ease-out, filter 0.5s ease, -webkit-filter 0.5s ease;
		padding: 0px 20px 0px !important;
		position: relative;
		z-index: 2;
		background-color: rgba(45, 45, 45, 0.75);
	}

		.banner > .inner .image {
			display: none;
		}

		.banner > .inner header {
			width: auto;
		}

			.banner > .inner header > :first-child {
				width: auto;
			}

				.banner > .inner header > :first-child:after {
					max-width: 100%;
				}

		.banner > .inner .content {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			margin: 0 0 2em 0;
		}

			.banner > .inner .content > * {
				margin-left: 1.5em;
				margin-bottom: 0;
			}

			.banner > .inner .content > :first-child {
				margin-left: 0;
			}

			.banner > .inner .content p {
				font-size: 1em;
				font-weight: 600;
				letter-spacing: 0.25em;
				text-transform: none;
			}

	.banner.major {
		height: 75vh;
		min-height: 30em;
		max-height: 50em;
	}

		.banner.major.alt {
			opacity: 0.75;
		}

	.banner.style1:after {
		background-color: #6fc3df;
	}

	.banner.style2:after {
		background-color: #8d82c4;
	}

	.banner.style3:after {
		background-color: #ec8d81;
	}

	.banner.style4:after {
		background-color: #e7b788;
	}

	.banner.style5:after {
		background-color: #8ea9e8;
	}

	.banner.style6:after {
		background-color: #87c5a4;
	}

	body.is-loading .banner:after {
		opacity: 1.0;
	}

	body.is-loading .banner > .inner {
		-moz-filter: blur(0.125em);
		-webkit-filter: blur(0.125em);
		-ms-filter: blur(0.125em);
		filter: blur(0.125em);
		-moz-transform: translateX(-0.5em);
		-webkit-transform: translateX(-0.5em);
		-ms-transform: translateX(-0.5em);
		transform: translateX(-0.5em);
		opacity: 0;
	}

	@media screen and (max-width: 1280px) {

		.banner {
			background-attachment: scroll;
		}

	}

	@media screen and (max-width: 736px) {

		.banner {
			padding: 5em 0 1em 0 ;
			height: auto;
			margin-bottom: -2.75em;
			max-height: none;
			min-height: 0;
			top: -2.75em;
		}

			.banner h1 {
				font-size: 2em;
			}

			.banner > .inner .content {
				display: block;
			}

				.banner > .inner .content > * {
					margin-left: 0;
					margin-bottom: 2em;
				}

			.banner.major {
				height: auto;
				min-height: 0;
				max-height: none;
			}

	}

	@media screen and (max-width: 480px) {

		.banner {
			padding: 6em 0 2em 0 ;
		}

			.banner > .inner .content p br {
				display: none;
			}

			.banner.major {
				padding: 8em 0 4em 0 ;
			}

	}
	
.bannerapps {
	background-image: url("../img/banner/apps_banner.png");
}
.bannerpkgs {
	background-image: url("../img/banner/pkgs_banner.jpg");
}
.bannervis {
	background-image: url("../img/banner/vis_banner.png");
}
.bannerblog {
	background-image: url("../img/banner/wc_banner.png");
	background-size: 100% 100%;
}

/* image comparison slider */

.ba-slider {
    position: relative;
    overflow: hidden;
}
 
.ba-slider img {
    width: 100%;
    display:block;
    
}

.overlay {
	display: none;
	position: absolute;
	width: 250px;
	bottom: 20px;
	right: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px;
	box-sizing: border-box;
	color: #DDD;
	text-align: right;
	@include media('tabletUpwards') {
		display: block;
	}
}

.resize {
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
	width: 100%;
	overflow: hidden;
	> img {
		display: block;
	}
	.overlay {
		right: auto;
		left: 20px;
		text-align: left;
	}
}

.handle { /* Thin line seperator */
  position:absolute; 
  left:0;
  top:50%;
  right:0;
  height:4px;
  margin-left:14px;
  margin-right:14px;
  margin-top:-2px;
  background-color: rgba(256, 256, 256, 0.2);
  cursor: ns-resize;
}

.handle:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	left: 50%;
	top: 50%;
	margin-top: -10px;
	background-color: white;
	transform: rotate(45deg);
	transition: all 0.1s ease-in-out;
}

.handle:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	left: 50%;
	top: 50%;
	margin-top: -5px;
	background-color: white;
	transform: rotate(45deg);
	transition: all 0.1s ease-in-out;
}

.draggable:before {
	width: 26px;
	height: 26px;
	left: 50%;
	top: 50%;
	margin-left: -3px;
	margin-top: -13px;
}
	
.draggable:after {
	width: 20px;
	height: 20px;
	left: 50%;
	top: 50%;
	margin-top: -10px;
	background-color: #555;
}

/* tiles */
.tiles article:before {
	opacity: 0.75;

}
	
/* tiles2 */
article > .img2 {
  width: 173px;
  height: 200px;
  margin: 0px 20px 25px 9px;
}

article:hover > .img2 {
  width: 191px;
  height: 220px;
  margin: 0px 11px 25px 0px;
}

.tiles2 article:before {
	opacity: 0.75;
}

.tiles2 article:after {
	background-color: rgba(240, 240, 240, 0);
}

.tiles2 article:hover:before {
	opacity: 0;
}

.tiles2 article.is-transitioning {
	opacity: 0;
}

.tiles2 article:nth-child(6n - 5):before {
	background-color: rgba(84, 255, 149, 0.75);
}

.tiles2 article:nth-child(6n - 4):before {
	background-color: rgba(157, 34, 240, 0.75);
}

.tiles2 article:nth-child(6n - 3):before {
	background-color: rgba( 255, 48, 48, 0.75);
}

.tiles2 article:nth-child(6n - 2):before {
	background-color: rgba( 255, 222, 173, 0.75);
}

.tiles2 article:nth-child(6n - 1):before {
	background-color: rgba( 65, 110, 148, 0.75);
}

.tiles2 article:nth-child(6n):before {
	background-color: rgba( 149, 166, 58, 0.75);
}
