{{ "<!-- Header -->" | safeHTML }}
    <section id="visualizations" class="tiles">
        {{ range .Site.Params.TilesVis.showcase }}
        <article>
            <span class="image">
                <img src="{{ .Site.Params.baseURL }}img/{{ .image }}" alt="" />
            </span>
            <header class="major">
                <h3><a href="{{ .url | absURL }}" class="link">{{ .title }}</a></h3>
                <p>{{ .subtitle }}</p>
            </header>
        </article>
        {{ end }}
    </section>
    <section id="two">
        <div class="inner">
            <header class="major">
                <h2>Visualizations based in analysis</h2>
            </header>
            <p>All visualizations are data-driven and flow from upstream, programmatic statistical analysis and mathematical computation. The before and after slider panel below highlights two examples.</p>
            <ul>
              <li>Left: spatial climate model downscaling of low resolution GCM output over Alaska.</li>
              <li>Right: network data as great circle arc traversal projected onto a rotating 3D globe.</li>
            </ul>
            <p>Drag the centered slider up and down to see the before and after. If it's not working try refreshing the page.</p>
        </div>
    <div class="ba-slider">
        <img src="img/ba/before1_comp.jpg" alt="" style="padding-bottom:14px;padding-top:14px;padding-left:14px;padding-right:14px;">       
        <div class="resize">
          <img src="img/ba/after1_titled_comp.jpg" alt="" style="padding-bottom:14px;padding-top:14px;padding-left:14px;padding-right:14px;">
        </div>
        <span class="handle"></span>
      </div>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script  type="text/javascript" src="js/imgcomp.js"></script>
    </section>
    